root = true

# Ignore specific files
[app/src/test/java/com/app/whakaara/logic/AlarmManagerWrapperTest.kt]
disabled_rules=all

[app/src/test/java/com/app/whakaara/logic/StopwatchManagerWrapperTest.kt]
disabled_rules=all

[app/src/test/java/com/app/whakaara/logic/TimerManagerWrapperTest.kt]
disabled_rules=all

[*]
indent_size = 4
insert_final_newline = true
max_line_length = off
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ktlint_standard_annotation = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_parameter-wrapping = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_final-newline = enabled
ktlint_function_naming_ignore_when_annotated_with = Composable, _
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_filename = disabled